body {
    background-color: black;
    background: url(/assets/images/Train\ background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
    }
    
    .card {
        opacity: 0.85;
        font-weight: bold;
    }
    .jumbotron {
        background: lightblue;
        opacity: .80;
        font-family: fantasy;
    
    }
    h1 {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 66px;

    }
    h3 {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 33px;
    }
    .card-header {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 25px;
        padding-top: 15px;
    
    }